@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
  background-color: #12a150;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #12a150;
}

.cl-formFieldLabel {
  /* color: #12a150; */
}
.cl-card {
  background-color: "";
}
.cl-formFieldLabel__identifier {
  color: "red";
}

.cl-footer {
  display: none;
}
